<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title >U.S. College Admissions</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
<body>
    <div class="container">
        <!-- Add Jumbotron to Header -->
        <div class="jumbotron text-center" style="background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_24/3385316/200609-ucla-campus-ew-647p.jpg); 
                    background-size: 100% 160%; background-position: 0px -40px; height: 350px">
          <br><br><br><br><br><br><br><br>
          <div class="wrapper">
    			<div class="box" style ="opacity: .2;"></div>
    			<div class="box" style = "background-color: rgba(50,120,195,0.7); width: 600px;">
    			<h1 style="color:rgb(255,184,28); text-align: center">College Admissions</h1></div>
			</div>             
        </div>

      <div class="row" id="Background">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2><b>U.S. College Admissions</b></h2>
              <h4 class="media-heading"><i>This website gives you a look at the current state of U.S. college admissions by various factors (gender, ACT scores, SAT scores) and more.</i></h4>
              <p>The visualizations below were created in Tableau using data from the 
                <a href="https://nces.ed.gov/ipeds/datacenter/Data.aspx">National Center for Education Statistics</a>  using 
                the following query: 2009-2019 4-year public/private not-for-profit U.S. degree-granting colleges
              </p>
              <h2><b>Visualizations</b></h2>
              <h4 class="media-heading"><i># of Students Accepted, Admitted, and Enrolled in 2015 (by Gender: Blue = Men, Pink = Women) to Stanford University,
                UC Berkeley, UCLA, and Princeton University</i></h4>
                <p></p>
              <img src="https://lh3.googleusercontent.com/ttz45NqudspEgHdXa9VS9cRXFraXj3-qPap5Djcprk0hbirUxElokaTi1Qwb_JKOxj4QhL-HSn2FkTA-AGogMnt-AqO-Vg775JV8K7FCaxSejCT4x_9v2yQaF9K2sYNeOZeNiidRgLlr8z3eN_moIwx6GqVto0t5V7GRJLE0E-9UI6Sm7tDvno-qGE9mwFe4MMuQma8P7KYOzsR6EQuAQtMWpQhYgdgkVF89B2gZ8dqgpRqC3yFgkqtX8ArrU_kjMMB1e_29vTKSmZn64GkwmqdaxfmAvBFKu9ecJHDNKCmPXFGQZzKrmvXD28sm9Op--dqNAzZSZ9bM5hxOpyWhwlHdYe51aX3XztYOeRzZ53kpwdcU2gAaWAdfkb40G3Nh9TQ5k4CbpqMTtwXYradwVejXMq7nLHZvNoKv0LO8qX3GY1y_ovHsjmQZRM-2coHJETLRLR-o5j-HfcKbVUPNJ4twI8lbSo3ELBddt2XGOCXDA0ZOSh3Y8ZSTgLXJJgxXYD480JwDczvQgD1UeJk0521LKVZo6aQam8cR8STkA98Ai_S-NN8PSLiP2_eXqPBfr8AaYbpKchVIZUsHPs4zbgoi5mKdp78pksLtDlnc8-69WYSGI867bPw3kagGrkmeK8usSbTylePmpF9JX_Dk4OujBy9GHN_99Mgbrqy9b1KqB2q2iRQQFrdZhCXvgXVjrhREkB1G4BdOQ0Y1=w1350-h780-no?authuser=0" style="border: none; width: 100%;">
              <p></p>
              <h4 class="media-heading"><i>ACT Composite Score 25th (blue) and 75th (orange) Percentiles for Stanford University,
                UC Berkeley, UCLA, and Princeton University from 2009-2019</i></h4>
              <img src="https://lh3.googleusercontent.com/Cp9VeF5VZ0q1FNpQTSVifMP1nNFxaI_MK9embthH4Tw1nihlHq0SmJh4HqjYIsc-0YI3267qOW1GJ0v1NdPXKh4Dj2scomCzCMnq2OMsBi5EyMYWpg5GwnMvDPNP4JbroFIPGWrXMJgRaLtyNnPo6hVPWVpxoWGAgR1h1dzNW11g93bfCzUvg4HN9mattIVZbuWo4fLy82E9WBkBPkegRWx8JzVF1blLG5xr2NXskILx6UpX_J29xljL-fEdeuhMN7GZQIULX-mNoDq6GW_K-yJLq2-1j7FxMFNm7g6Zsn_XO1wvU7aepd453VCdxMJGUK08FH8WO7S-s_2c46cx7C0aVLHN2_vRq_c59VFj301TIMVcGVmerG7tDJLvaXFIZiRFPBrvUCpRublhVxmHiSkC-7pXruzPJvipS_LZAskGDXgz3iBser-dqPzpw_bPOtnWKfAil7IFFZddBQrzUGWPtZDwfAC0W4aHdxsUySsbZfJsVaNRAiYR7z2p-oaAjsS7Ik9tlkmT4Cw4DLu2oWC0YhheV0IP_WvovL60aYGutCbIJYNQHucfMLZt_y5umk2ZIfEGzLYoxa9-q7Dk96gPGpLSTaVKu_ih7XbW-KKZpKVDRlTElHxq26_ylhc9h4caSY1aryrlcpm5K_gKPOutYe0osSODMPpXux9dbVaAhabHRvCLY1ZpQcdSpUnLfNi0Viio0fv6_CZM=w1392-h656-no?authuser=0" style="border: none; width: 100%;">
              <p></p>
              <h4 class="media-heading"><i>SAT Math Score 25th (blue) and 75th (orange) Percentiles for Stanford University,
                UC Berkeley, UCLA, and Princeton University from 2009-2019</i></h4>
              <img src="https://lh3.googleusercontent.com/4iweHuvE71eM1umU9JyiEf2_wDzo5FQsYYXRTiG1_oKfJ9zTlN8uwZltRXSSsy-6BC_eU4MOgyge9F_dSdZpaI5-V1Xrg7vBVA1Nsn7YOxatbeQtO93fl7o1QiiypBeRa1TrAP25AYydY8V8XdmOSBKhDwvyD7NhMKwgK6aJIeDJ1CUq5jztcaKzYexiBsDpNxbdSScgY3MeOwexPZ_6TRFCJ3D5ScBNMddR9Hs3sL74c9MpW-9qaQXGO0yjWZaVjsT7aI1yz0Nu-Paq8NOK358BURkUvjVPuk8x1axo4WtgccmSp7nJCGFvc_RnZ4OC7gUKFFXru3GRYJfq2y-ro2urAYvjHNwa2m2q97SM5HGYS9uxM15dToQL-54E-XrOrmxBk67Mb5zGnJsZ-xMY8Gu5ZqwJpOSzKpw3uQ94hJhxEiQ_UE3dVoaIgmHcGPOKpkHb4ga6G77SHNJYZaAKYELfvNn1qiERAEt99sh-WXmZeG8suqjNhACxIR0alWroTW4NxODmS4gppn3iuh1jM79EnCGDOKlMXtEz1io8UncTAtFSnxTuJUvlerB35sl_F28oglBW12VBlPEGTSNBiJeWuWT7MpEGTcQ8BOZ8zN3xgqThrwZTdT1GQGIOJi443wwOMuxbOyDF7n_tI9TU-JUz8F6PIoURt70xJkFNZFMYs-Vpl-b_pWKOcElSmHw0mbzKwRYU8X-TmsB8=w1374-h639-no?authuser=0" style="border: none; width: 100%;">
            
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="Background">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2><b>Machine Learning Model</b></h2>
              <!-- <h4 class="media-heading"><i>College Admissions</i></h4>-->
              <p>The predictor below uses a logistic regression model based on a <a href="https://www.kaggle.com/fsadjadpour/binary">Kaggle Graduate Admissions dataset.</a></p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row" id="Background">
        <form action = "/predict" method = "POST">
            <h2 style="text-align:center;" ><b>Graduate School Admissions Predictor</b></h2>
            <h4 style="text-align:center;" class="media-heading"><i>Enter your GRE score, GPA, and Undergrad School Rank to predict whether or not you'll be admitted to the grad school of your dreams.</i></h4>
            <p style="border:3px; border-style:solid; border-color:rgb(255,184,28); background-color:rgb(60,185,260); padding: 2em;">
            <label>GRE SCORE (0-800)</label>
            <input type = "text" name = "gre">
            <br>
            <label>GPA (0.0-4.0)</label>
            <input type = "text" name = "gpa">
            <br>
            <label>Undergrad School Rank [Integer: 1 (highest rank) - 4 (lowest rank)]</label>
            <input type = "text" name = "rank">
            <br>
            <input type = "submit" value = "Submit scores for prediction" style = "background-color:rgb(255,184,28)">
            </p>
        </form>
        </div>
      </div>
</body>
</html>
